{% extends 'base.html.twig' %}

{% block body %}

	<div class="container">
		<h2>Profil von
			{{ user.userIdentifier }}</h2>
		<br>
		<div class="d-flex justify-content-between">
			<div class="d-flex flex-column gap-3">
                <span>EMail</span>
				{{ user.email }}
			</div>
			<img class="avatar-show" src="{{ asset('img/users/' ~ image_helper.getUserImagePath(user)) }}">
		</div>
	</div>
{% endblock %}
