<h1>Hallo!</h1>

<p>
    Bitte bestätige deine E-Mail-Adresse, indem du auf den folgenden Link klickst:
     <br><br>
    <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
    Dieser Link verfällt in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Dein CookingWorld Team. Grüße!
</p>
